#for big datasets
ImageSizeUnificated/
grayImages/
rowImages/
testArgumentedImages/
testData/
trainData/
trainArgumentedImages/
realData/
grayImages256/
ImageSizeUnificated256/
best-cnn-model.h5

#for jupyter notebook
.ipynb_checkpoints/
